doctype 5
html
  head
    title Kinetech Performance Client Device
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/client.css')
    script(src="/socket.io/socket.io.js")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/angular/angular.min.js")

  body
    div#wrapper
      
    
    div#modelMask(style="display:none")
    div#modelWindow(style="display:none")
      h1
      p
      button(class="closeMsg") Close
    
    script(src="javascript/client.js")
