doctype 5
html
  head
    title Kinetech Performance Client Device
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/client.css')

    script(src="/socket.io/socket.io.js")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/jquery-color/jquery.color.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/handlebars/handlebars.js")

  body

    script#clientApp(type="text/x-handlebars-template")
      div#container

    script#index(type="text/x-handlebars-template")
      header
        p Welcome to
        p.showTitle {{ currentShow }}
      button.startShow Connect and start show
      button.cast Tonights performers
      button.about About Kine-Tech
      button.upcomingShows Upcoming shows

    script#show(type="text/x-handlebars-template")
      div#wrapper(style="display:none")
        div#drawOptions
          div.colors
            div.colorBlock(data-color="#8158D9", style="background-color: #8158D9")
            div.colorBlock(data-color="#D958B1", style="background-color: #D958B1")
            div.colorBlock(data-color="#82F5E7", style="background-color: #82F5E7")
            div.colorBlock(data-color="#4B61F2", style="background-color: #4B61F2")
            div.colorBlock(data-color="#EB0C40", style="background-color: #EB0C40")
            div.colorBlock(data-color="#40DB2C", style="background-color: #40DB2C")
          form
            input(type="range", name="brushSize", id="brushSize", value="5", min="1", max="10")
      button#exitShow Quit

    script#castList(type="text/x-handlebars-template")
      header {{ currentShow }} cast and crew:
      p Person: Job
      p WOOOOOOOOOORDSSSSSSS

      button.back Back

    script#showsList(type="text/x-handlebars-template")
      ul
        li {{ upcomingShows.one }}
        li {{ upcomingShows.two }}
        li {{ upcomingShows.three }} 
      button.back Back

    script#about(type="text/x-handlebars-template")
      h1 About Kine-Tech
      p Words words words
      button.back Back 
    <!-- script(src="javascript/client/client-audio.js") -->

    script.
      var ClientSpace = {};

    script(src="javascript/client/models/Client.js")
    script(src="javascript/client/models/Server.js")

    script(src="javascript/client/views/ClientApp.js")
    script(src="javascript/client/views/IndexView.js")
    script(src="javascript/client/views/CastView.js")
    script(src="javascript/client/views/AboutView.js")
    script(src="javascript/client/views/UpcomingShowsView.js")
    script(src="javascript/client/views/ShowView.js")

    script(src="javascript/client/router/router.js")
  
    script.
      //var ClientSpace = {};
      var client = new ClientSpace.Client();

      var kineTemplates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
          kineTemplates[div.id] = Handlebars.compile(div.innerHTML);
      });
      client.set('templates', kineTemplates);

      var clientApp = new ClientSpace.ClientApp({ model: client });
