doctype 5
html
  head
    title Kinetech MC
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel='stylesheet', href='/stylesheets/conductor.css')
    script(src="/socket.io/socket.io.js")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/handlebars/handlebars.js")

  body

    script#conductorApp(type="text/x-handlebars-template")
      div#container

    script#mainView(type="text/x-handlebars-template")
      header
        h1 Master Controller
      div#specController
        div#optionBuilder
          div#optionPalette
            button(class="color audioControlled", data-color="#CC0000", style="background-color: #CC0000")
            button(class="color audioControlled", data-color="#00CC00", style="background-color: #00CC00")
            button(class="color audioControlled", data-color="#0000CC", style="background-color: #0000CC")
            button(class="color audioControlled", data-color="#B5FC9B", style="background-color: #B5FC9B")
            button(class="color audioControlled", data-color="#9BDAFC", style="background-color: #9BDAFC")
            button(class="color audioControlled", data-color="#F50FF1", style="background-color: #F50FF1")
            button(class="color audioControlled", data-color="#F5AC0F", style="background-color: #F5AC0F")
            button(class="color audioControlled", data-color="#FFE203", style="background-color: #FFE203")
            button(class="color audioControlled", data-color="#AA84E0", style="background-color: #AA84E0")
            button(class="color audioControlled", data-color="#7A0014", style="background-color: #7A0014")
            button(class="color audioControlled", data-color="#000000", style="background-color: #000000")
            button(class="color audioControlled", data-color="#FFFFFF", style="background-color: #FFFFFF")
            button(class="random audioControlled", style="background-color: #999999") RANDOM
            
            p#fadeTimeText.audioControlled FADE: 1.5 Seconds
            form(class="scrollable")
              input(type="range", class="audioControlled scrollable", name="fader", id="fader", value="1500", min="0", max="3000")


      div#specOptionList
          button(class="specOption" id="toggleSound") START SOUND STREAMING
          button(class="specOption" id="toggleAudioLights") MANUAL LIGHT SHOW CONTROL
          button(class="specOption audioControlled" id="toggleStrobe") TOGGLE CLIENT LIGHT PULSE
          button(class="specOption", id="toggleMotion") START MOTION TRACKING

    script.
      $(document).on('touchmove', function(e) {
        e.preventDefault();
      });
      var ConductorSpace = {};

    script(src="javascript/conductor/models/Conductor.js")
    script(src="javascript/conductor/models/Server.js")

    script(src="javascript/conductor/router/router.js")

    script(src="javascript/conductor/views/ConductorApp.js")
    script(src="javascript/conductor/views/MainView.js")

    script.
      var conductor = new ConductorSpace.Conductor();

      var kineTemplates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
          kineTemplates[div.id] = Handlebars.compile(div.innerHTML);
      });
      conductor.set('templates', kineTemplates);
      var server = new ConductorSpace.Server();
      var conductorApp = new ConductorSpace.ConductorApp({ model: conductor, server: server });
      $('body').on('touchmove', '.scrollable', function(e) {
        e.stopPropagation();
      });
