<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<link href='css/dancer.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30329181-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script src="/bower_components/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div id="info">
			<a id="togglefft" href="#"></a>
			<canvas id="fft" height="50" width="256"></canvas>
		</div>
		<div id="loading">Loading . . .</div>
		<!-- Demo dependencies -->
		<script>
			var loading = document.getElementById('loading');
			loading.style.marginLeft = (( window.outerWidth - 500 ) / 2) + 'px';
		</script>
		<script src="javascript/lib/three.min.js"></script>
		<script src="javascript/lib/stats.min.js"></script>
		<script src="javascript/lib/detector.js"></script>

		<!-- Dancer.js -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascript/dancer-animation.js"></script>
		<script src="javascript/dancer.js"></script>


		<!-- Demo stuff -->
		<script src="javascript/lib/dancer-fft.js"></script>
		<script src="javascript/dancer-scene.js"></script>
		<script src="javascript/dancer-player.js"></script>
		<script>
			(function () {
				var fft = document.getElementById( 'fft' ),
					toggle = document.getElementById( 'togglefft' );
				toggle.addEventListener( 'click', function ( e ) {
					e.preventDefault();
					fft.style.display = fft.style.display == 'block' ? 'none' : 'block';
				}, true );

			})();
		</script>
	</body>
</html>