<html> 
	<head> 
		<title>liveweave</title> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link type="text/css" rel="stylesheet" href="css/fireworks.css">

		<script src="/bower_components/jquery/jquery.min.js"></script>
		
		<script id="shader-fs" type="x-shader/x-fragment">
				#ifdef GL_ES
				  precision highp float;
				  #endif
				  
				 uniform vec4 color;
				 
    		void main(void) {
    		 gl_FragColor = color;
    		}
		</script>
		
		<script id="shader-vs" type="x-shader/x-vertex">
  			attribute vec3 vertexPosition;

			uniform mat4 modelViewMatrix;
			uniform mat4 perspectiveMatrix;

 			void main(void) {
				gl_Position = perspectiveMatrix * modelViewMatrix * vec4(vertexPosition, 1.0);
			}	
		</script>
		
	</head>
	<body>
		<canvas id="webGLCanvas"></canvas>
		<div id="instructions"></div>

		<script src="javascript/fireworks-animation.js"></script>
		<script src="/socket.io/socket.io.js"></script>
       <script src="javascript/fireworks.js"></script>		
	</body>
</html> 