doctype html
html
  head
    title Sound Visualization 
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/jquery.min.js")

  body

    script(src="bower_components/two/build/two.min.js")
    script(src="bower_components/tweenlite/TweenLite.min.js")
    script(src="bower_components/fastclick/lib/fastclick.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="javascript/flock/flock.js")
    script(src="javascript/flock/flock-animation.js")