doctype html
html
  head
    title Sound Visualization 
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/jquery.min.js")

  body
    div(id="stats" style="position: absolute; width: 16em; height: 16em; opacity: .8; top: 0; left: 0; color: green; background: rgba(25,25,25,.25);")

    script(src="bower_components/pixi/bin/pixi.js")
    script(src="bower_components/tweenlite/TweenLite.min.js")
    script(src="bower_components/fastclick/lib/fastclick.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="javascript/flock/flock.js")
    script(src="javascript/flock/flock-animation.js")