doctype html
html
  head
    title  Gyroscope Visualizations
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
      
    link(rel="stylesheet", href="/stylesheets/dancer.css")

    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/jquery.min.js")


  body
    div#alpha
    div#beta
    div#gamma
    div#x
    div#y
    div#z
    h1 Welcome to the show! 
    p These interactive visualizations use your phone's gyroscope and accelerometer to influence what you see.
    br
    p Shake-o-Meter: The more people that participate, the more fun it is! Beat the high score!
    br
    p Shake Battle: Shaking your phone right-side-up will lower the bar, and shaking it upside-down will raise it. Play with your friends and see who can shakedown the hardest!
    br
    p Spotlights: Point your phones display upwards, and tilt it to move the searchlights. Now you're playing with power!
    br
    p Have fun playing with them and experiencing the synthesis of tech and art!
    h3 Connecting...
    button#tracking Toggle tracking on/off
    a(href="/")
        button Quit



    script(src="javascript/fone/fone.js")
    script.
      $('body').on('touchmove', '.scrollable', function(e) {
        e.stopPropagation();
      });
    script.
      $(document).on('ready',function(){
        //- startTrack();
        });
      $('#tracking').click(toggleTracking);
