doctype html
html
  head
    title  Satellite Grid Controls
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
      
    link(rel="stylesheet", href="/stylesheets/dancer.css")

    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/underscore/underscore-min.js")


  body
    div#alpha
    div#beta
    div#gamma
    div#x
    div#y
    div#z

    a(href="/")
        button Quit



    script(src="javascript/gridcontrol/gridcontrol.js")
    script.
      $('body').on('touchmove', '.scrollable', function(e) {
        e.stopPropagation();
      });
    script.
      $(document).on('ready',function(){
        //- startTrack();
        });
      $('#tracking').click(toggleTracking);
