doctype 5
html
  head
    title Phone Brush
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/socket.io/socket.io.js")
    script(src="bower_components/jquery/jquery.min.js")
  body
    div(id="canvasShell", style="display:none")

    div(id="drawOptions", style="display:none")
      div(class="colors")
        div(class="colorBlock", data-color="#8158D9", style="background-color: #8158D9")
        div(class="colorBlock", data-color="#D958B1", style="background-color: #D958B1")
        div(class="colorBlock", data-color="#82F5E7", style="background-color: #82F5E7")
        div(class="colorBlock", data-color="#4B61F2", style="background-color: #4B61F2")
        div(class="colorBlock", data-color="#EB0C40", style="background-color: #EB0C40")
        div(class="colorBlock", data-color="#40DB2C", style="background-color: #40DB2C")
      form
        input(type="range", name="brushSize", id="brushSize", value="1", min="1", max="10")

    div(id="modelMask", style="display:none")
    div(id="modelWindow", style="display:none")
      h1
      p
      button(class="closeMsg") Close

    script(src="js/phoneBrush.js")
    script.
      var server = '169.254.242.203:9001';
      init(server);



//  COLORS:
//  #8158D9 PURPLE
//  #D958B1 PINK
//  #82F5E7 LIGHT BLUE
//  #4B61F2 DARK BLUE
//  #F24BDF RED
//  #40DB2C GREEN
