<html>
    <head>
        <meta name="author" content="Justin Windle">
        <title>soulwire</title>
        <link rel="stylesheet" href="css/soulwire.css">
        <script src="/bower_components/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class='info'>
        </div>
          <div class="cb toggle-fbo">
            <input class="toggle" type="checkbox"/>
            <span class="button"></span>
        </div>
        <script src="javascript/lib/sketch.min.js"></script>
        <script src="javascript/lib/stats.min.js"></script>
        <script src="javascript/lib/leap.min.js"></script>
        <script src="javascript/soulwire-animation.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="javascript/soulwire.js"></script> 
    </body>
</html>