doctype 5
html
  head
    title Update Landing Page Details
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/update.css')

    link(rel="icon", type="image/png", href="images/icon.png")

    link(rel="icon", type="image/png", href="images/icon.png")

    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/handlebars/handlebars.js")

  body

    script#updateApp(type="text/x-handlebars-template")
      header
        h1 Update Client Landing Page
        nav
          ul
            li(class="nav-link castLink") UPDATE CAST LIST
            li |
            li(class="nav-link eventsLink") UPDATE EVENT LIST

      div#wrapper

    script#updateCast(type="text/x-handlebars-template")
      h1 Update Cast List

      aside.currentCastList

        
      section.formField
        form(name="cast-form", id="cast-form", method="post")
          label Name
          input(type="text", name="name", maxlength="100", tabindex="1", AUTOCOMPLETE="OFF")
          label Portrait Image
          input(type="file", name="portrait", maxlength="255", tabindex="2", AUTOCOMPLETE="OFF")
          label Role
          input(type="text", name="role", maxlength="100", tabindex="3", AUTOCOMPLETE="OFF")
          label Description
          textarea(rows="4", type="text", name="description", tabindex="4", AUTOCOMPLETE="OFF")
          button(class="submit-button") SUBMIT
    
    script#updateEvents(type="text/x-handlebars-template")
      h1 Update Events List

      aside.currentEventsList
        
      section.formField
        form(name="event-form", id="event-form", method="post")
          label Event Name
          input(type="text", name="name", maxlength="100", tabindex="1", AUTOCOMPLETE="OFF")
          label Link to Event Info Page
          input(type="text", name="link", maxlength="255", tabindex="2", AUTOCOMPLETE="OFF")
          label Event Location
          input(type="text", name="location", maxlength="100", tabindex="3", AUTOCOMPLETE="OFF")
          label Event Date
          input(type="text", name="date", maxlength="100", tabindex="4", AUTOCOMPLETE="OFF")
          label Description
          textarea(rows="4", type="text", name="description", tabindex="5", AUTOCOMPLETE="OFF")
          button(class="submit-button") SUBMIT
    

    script.
      var UpdateSpace = {};

    script(src="javascript/update/models/Update.js")
    script(src="javascript/update/models/CastMember.js")
    script(src="javascript/update/models/Show.js")

    script(src="javascript/update/collections/Cast.js")
    script(src="javascript/update/collections/Shows.js")

    script(src="javascript/update/views/UpdateApp.js")
    script(src="javascript/update/views/UpdateCastView.js")
    script(src="javascript/update/views/UpdateEventsView.js")

    script(src="javascript/update/router/router.js")

    script.
      var update = new UpdateSpace.Update();
      update.set('cast', new UpdateSpace.Cast());
      update.set('shows', new UpdateSpace.Shows());

      var kineTemplates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
          kineTemplates[div.id] = Handlebars.compile(div.innerHTML);
      });
      update.set('templates', kineTemplates);

      var updateApp = new UpdateSpace.UpdateApp({ model: update });
