* {
  outline: none;
}
html,
body {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e02443), color-stop(100%, #8f0d23));
  background: -webkit-radial-gradient(center, ellipse cover, #e02443 0%, #8f0d23 100%);
  background: radial-gradient(ellipse at center, #e02443 0%, #8f0d23 100%);
}
h1 {
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  padding-bottom: 5px;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}
h3 {
  margin: 0;
  padding: 10px 0 0px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.mainPage {
  height: 100%;
  width: 100%;
}
#container {
  left: 0;
  right: 0;
  height: 100%;
}
.showWrapper {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header {
  padding-top: 10px;
  background-color: #e02443;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}
header p {
  padding: 0px;
  margin: 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
header p.showTitle {
  font-size: 22px;
  font-weight: 800;
}
button {
  margin: 20px auto;
  display: block;
  width: 75%;
  height: 50px;
  border: 1px solid #aaa;
  border-radius: 10px;
  border-bottom: 3px solid #bbb;
  font-size: 16px;
  color: #fff;
  background-color: #8f0d23;
}
button:active {
  border-bottom: 1px solid #aaa;
  border-top: 2px solid #bbb;
  color: #ddd;
  background-color: #e02443;
}
.about {
  padding: 10px 20px 10px 20px;
}
.about .about-text {
  color: #fff;
  font-size: 18px;
}
.about img {
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
}
.shows {
  padding: 10px 20px 10px 20px;
}
.shows a {
  text-decoration: none;
  padding: 0;
  color: #fff;
  display: block;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #999;
  padding-top: 10px;
}
.shows a p {
  padding: 0 0 10px 0;
  margin: 0;
}
.shows a p.what {
  font-size: 16px;
  font-weight: 800;
}
.cast {
  padding: 10px 10px 10px 10px;
}
.cast h2 {
  padding: 10px 0 10px 0;
}
.cast div.castMember {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}
.cast div.castMember img {
  float: left;
  border: 2px solid #fff;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 3px;
}
.cast div.castMember p {
  color: #fff;
  padding: 0;
  margin: 5px 0 0 0;
}
.cast div.castMember p.castName {
  font-size: 20px;
  font-weight: 800;
  margin-top: 0px;
}
.cast div.castMember p.role {
  font-size: 14px;
  font-weight: 800;
}
.cast div.castMember p.bio {
  font-size: 12px;
}
#wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
#drawOptions {
  height: 100%;
  width: 100%;
}
.colors {
  margin-top: 20px;
  height: 60%;
  width: 100%;
}
.colorBlock {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  display: inline-block;
  list-style: none;
}
form {
  margin-top: 50px;
}
input[type='range'] {
  -webkit-appearance: none;
  background-color: #808080;
  width: 98%;
  height: 60px;
}
input[type='range']::-webkit-slider-thumb {
  width: 65px;
  height: 65px;
}
#exitShow {
  position: fixed;
  bottom: 0;
  font: 12px;
  height: 25px;
  width: 100%;
  background: transparent;
  border: 1px solid #333;
  color: #333;
  text-align: center;
}
#modelMask {
  z-index: 5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(51,51,51,0.7) 0%, #333 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(51,51,51,0.7)), color-stop(100%, #333));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(51,51,51,0.7) 0%, #333 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(51,51,51,0.7) 0%, #333 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(51,51,51,0.7) 0%, #333 100%);
  background: radial-gradient(ellipse at center, rgba(51,51,51,0.7) 0%, #333 100%);
}
.shows {
  padding-top: 20px;
}
.shows ul {
  padding: 0;
  margin: 0;
}
.shows ul li {
  width: 80%;
  height: 60px;
  padding: 0px 10px 0 10px;
  color: #fff;
  margin: 0 auto;
  list-style: none;
  padding-left: 20px;
}
