body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* text and headline styles */
h1 {
  text-align: center;
  color: #222;
}
#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}
#modelMask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
}
#modelWindow {
  position: fixed;
  height: 80%;
  width: 90%;
  left: 4%;
  top: 10%;
  background-color: #fff;
  border: 8px solid #999;
  border-radius: 10px;
}
#modelWindow h1 {
  text-align: center;
  font-size: 50px;
}
#modelWindow p {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
