body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* text and headline styles */
h1 {
  text-align: center;
  color: #222;
}
