html,
body {
  font: -webkit-small-control;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}
* {
  outline: none;
}
.container {
  position: relative;
}
header {
  width: 100%;
  height: 50.025000000000006px;
  margin: 0;
  padding: 0;
  background-color: #ed2143;
}
header h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 10.005px;
}
div#specController {
  width: 100%;
  margin-bottom: 15px;
}
div#specController div#optionBuilder {
  padding: 14px 0 14px 0;
  width: 466.90000000000003px;
  margin: 0 auto;
}
div#specController div#optionBuilder h2 {
  padding: 0 20px 0 0;
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #fff;
}
div#specController div#optionBuilder #optionPalette {
  overflow: hidden;
}
div#specController div#optionBuilder button {
  border: 3px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  height: 80.04px;
}
div#specController div#optionBuilder button.color {
  width: 80.04px;
  margin: 10px 20px 15px 0;
}
div#specController div#optionBuilder button.random {
  width: 380.19px;
  font-size: 18px;
  font-weight: 100;
  margin: 10px 20px 15px 0;
}
div#specController div#optionBuilder p {
  padding-top: 10.005px;
  margin-top: 20.01px;
  float: left;
  font-size: 25px;
  color: #fff;
  letter-spacing: 1.5px;
  text-align: center;
}
div#specController div#optionBuilder form {
  display: inline-block;
  margin-top: 20.01px;
  margin-left: 4px;
}
div#specController div#optionBuilder form input[type='range'] {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #000;
  border: 1px solid #999;
  width: 333.5px;
  padding: 0 35px 0 35px;
  height: 26.68px;
}
div#specController div#optionBuilder form input[type='range']::-webkit-slider-thumb {
  width: 23.345000000000002px;
  height: 23.345000000000002px;
}
div#specOptionList {
  margin: 0 auto;
  border: 3px solid #999;
  width: 466.90000000000003px;
  height: 80.04px;
  background-color: #333;
  border-radius: 15px;
}
div#specOptionList button {
  margin-top: 12.006px;
  padding: 6.67px;
  width: 66.7px;
  height: 53.36px;
  border-radius: 15px;
  border: 2px solid #777;
  margin-right: 0px;
  margin-left: 23px;
  background-color: #000;
  box-shadow: 0px 4px 7px #000;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}
div#specOptionList .toggled {
  background-color: #333;
}
@media (orientation: landscape) {
  header {
    display: none;
  }
}
