html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e02443), color-stop(100%, #8f0d23));
  background: -webkit-radial-gradient(center, ellipse cover, #e02443 0%, #8f0d23 100%);
  background: radial-gradient(ellipse at center, #e02443 0%, #8f0d23 100%);
}
* {
  outline: none;
}
.container {
  position: relative;
}
header {
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  background-color: #ed2143;
}
header h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}
div#specController {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f0d23), color-stop(100%, rgba(143,13,35,0)));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8f0d23 0%, rgba(143,13,35,0) 100%);
/* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #8f0d23 0%, rgba(143,13,35,0) 100%);
/* W3C */
}
div#specController div#currentBar {
  height: 34px;
  width: 100%;
  background-color: #eee;
  text-align: center;
  opacity: 0.9;
}
div#specController div#currentBar h3 {
  font-size: 20px;
  margin: 0;
  padding-top: 5px;
}
div#specController div#optionBuilder {
  padding: 14px 0 14px 0;
  width: 700px;
  margin: 0 auto;
}
div#specController div#optionBuilder h2 {
  padding: 0 20px 0 0;
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #fff;
}
div#specController div#optionBuilder #optionPalette {
  overflow: hidden;
}
div#specController div#optionBuilder button {
  border: 3px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  height: 120px;
}
div#specController div#optionBuilder button.color {
  width: 120px;
  margin: 10px 20px 15px 0;
}
div#specController div#optionBuilder button.random {
  float: right;
  width: 260px;
  font-size: 18px;
  font-weight: 800;
  margin: 10px 20px 15px 140px;
}
div#specController div#optionBuilder p {
  padding-top: 5px;
  margin-top: 30px;
  float: left;
  font-size: 25px;
  color: #fff;
  letter-spacing: 1.5px;
}
div#specController div#optionBuilder form {
  float: right;
  display: inline-block;
  margin-top: 30px;
}
div#specController div#optionBuilder form input[type='range'] {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #ed2143;
  border: 1px solid #999;
  width: 350px;
  padding: 0 35px 0 35px;
  height: 30px;
}
div#specOptionList {
  margin: 0 auto;
  border: 3px solid #999;
  width: 700px;
  height: 120px;
  background-color: #eee;
  border-radius: 15px;
}
div#specOptionList button {
  margin-top: 18px;
  padding: 10px;
  width: 200px;
  height: 80px;
  border-radius: 15px;
  border: 2px solid #ed2143;
  margin-right: 0px;
  margin-left: 23px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e02443), color-stop(100%, #8f0d23));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e02443 0%, #8f0d23 100%);
/* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #e02443 0%, #8f0d23 100%);
/* W3C */
  box-shadow: 0px 4px 7px #999;
  color: #fff;
  text-align: center;
}
div#specOptionList .toggled {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f0d23), color-stop(100%, #e02443));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8f0d23 0%, #e02443 100%);
/* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #8f0d23 0%, #e02443 100%);
/* W3C */
}
