// 2048×1536 or 1024x768

html
  height 100%
  width 100%
  margin 0
  padding 0
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,36,67,1)), color-stop(100%,rgba(143,13,35,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%); /* Chrome10+,Safari5.1+ */
  background: radial-gradient(ellipse at center,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%); /* W3C */

#conductor
  height 1024px
  width 769px
  border 1px solid #fff
  overflow hidden
  border-radius 20px
  margin 0 auto

header
  width 100%
  height 75px
  margin 0
  padding 0
  background-color #ED2143
  border-bottom 3px solid #ddd

header h1
  font-size 40px
  color #fff;
  text-align center
  margin 0
  padding-top 15px

div#specController
  height 510px
  width 100%
  margin-top 15px
  margin-bottom 15px
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,13,35,1)), color-stop(100%,rgba(143,13,35,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(143,13,35,1) 0%,rgba(143,13,35,0) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(143,13,35,1) 0%,rgba(143,13,35,0) 100%); /* W3C */

  div#currentBar
    height 34px
    width 100%
    background-color #eee
    text-align center
    opacity .9

    h3
      font-size 20px
      margin 0
      padding-top 5px

  div#optionBuilder
    padding 14px 0 14px 0
    height 405px
    width 700px
    margin 0 auto

    h2
      padding 0 20px 0 0
      font-size 40px
      text-align center
      margin 0
      color #fff
    
    #optionPalette
      height 300px

    button#submitOption
      height 60px
      width 160px
      margin-top 0px
      margin-left 250px
      border 3px solid #ddd
      border-radius 10px
      background-color #fff
      font-size 18px
      font-weight 800
      box-shadow inset 0 2px 3px #999

    ul
      height 310px
      width 700px
      margin 25px 10px 10px 10px
      padding 0
      
    li.color
      display inline-block
      list-style none
      height 130px
      width 120px
      margin 6px
      border 2px solid #fff
      border-radius 7px

div#specOptionList
  border 3px solid #999
  width 700px
  margin 0 auto 20px auto
  height 390px
  background-color #eee
  border-radius 15px;
  
  ul
    margin 20px auto 0 auto;
    width 650px

    li
      list-style none
      float left
      padding 10px
      width 163px
      height 80px
      border-radius 20px
      border 2px solid #ED2143
      margin-right 22px
      margin-bottom 15px
      background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,36,67,1)), color-stop(100%,rgba(143,13,35,1))); /* Chrome,Safari4+ */
      background -webkit-linear-gradient(top,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%); /* Chrome10+,Safari5.1+ */
      background linear-gradient(to bottom,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%); /* W3C */
      box-shadow 0px 4px 7px #999
      color #fff
      text-align center


