html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
}
canvas {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(0);
  cursor: crosshair;
}
#connectImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44;
  background: url("../img/join.png") no-repeat center;
  -webkit-transition: all 0.5s ease-in-out;
  z-index: 5;
}
#connectImg.closed {
  top: -45px;
}
#connect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  font-family: "DaxCompact-Medium";
  font-size: 16px;
  -webkit-transition: all 0.5s ease-out;
  z-index: 5;
}
#connect img {
  vertical-align: middle;
  margin-right: 20px;
}
#connect.closed {
  top: -60px !important;
}
.wifi,
.url {
  font-weight: bold;
  background: #666;
  display: inline-block;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #989898;
  background: -moz-linear-gradient(top, #989898 0%, #757575 36%, #282828 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #989898), color-stop(36%, #757575), color-stop(100%, #282828));
  background: -webkit-linear-gradient(top, #989898 0%, #757575 36%, #282828 100%);
  background: linear-gradient(top, #989898 0%, #757575 36%, #282828 100%);
}
#instructions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  z-index: 5;
}
