html {
  outline: none;
}
body {
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e02443), color-stop(100%, #8f0d23));
  background: -webkit-radial-gradient(center, ellipse cover, #e02443 0%, #8f0d23 100%);
  background: radial-gradient(ellipse at center, #e02443 0%, #8f0d23 100%);
  width: 100%;
  min-width: 980px;
  overflow: auto;
}
header {
  width: 100%;
  height: 85px;
  background-color: #ed2143;
  border-bottom: 3px solid #fff;
  min-width: 980px;
}
header h1 {
  color: #fff;
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
}
header nav {
  height: 50px;
  width: 390px;
  margin: 0 auto;
}
header nav ul {
  float: right;
  display: inline;
  text-align: right;
  text-decoration: none;
  padding: 0;
  margin: 13px 0 0 0;
}
header nav li {
  display: inline;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  padding-left: 4px;
  padding-right: 4px;
}
header nav li:hover {
  color: #ddd;
  cursor: pointer;
}
#wrapper {
  width: 900px;
  height: 600px;
  margin: 30px auto 0px auto;
  padding: 0px;
  border: 2px solid #fff;
  background-color: #bbb;
}
.castView {
  padding: 20px;
}
.castView h1 {
  color: #fff;
  text-align: center;
  margin: 0 0 10px 0;
}
.castView aside.currentCastList {
  padding: 10px;
  width: 240px;
  height: 490px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
}
.castView section {
  float: right;
  width: 595px;
  height: 500px;
}
.castView section li {
  list-style: none;
}
.events {
  padding: 20px;
}
.events h1 {
  color: #fff;
  text-align: center;
  margin: 0 0 10px 0;
}
.events aside.currentEventsList {
  padding: 10px;
  width: 240px;
  height: 490px;
  background-color: #fff;
  border: 1px solid #000;
  float: left;
}
.events section {
  float: right;
  width: 595px;
  height: 500px;
}
form {
  padding: 0 0 0 20px;
}
form .submit-button {
  height: 40px;
  width: 100px;
  margin: 20px 0 0 0;
}
form textarea {
  height: 100px;
  width: 540px;
  padding: 2px 5px 3px 5px;
  outline: none;
  border: 1px solid #999;
}
form label {
  display: block;
  height: 30px;
  font-size: 18px;
  color: #444;
}
form input[type="text"] {
  height: 25px;
  width: 540px;
  padding: 2px 5px 3px 5px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #999;
}
form input[type="text"]:focus,
form textarea:focus {
  border: 1px solid #000;
}
form input[type="file"] {
  height: 25px;
  margin-bottom: 10px;
}
