html 
  outline:none

body
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,36,67,1)), color-stop(100%,rgba(143,13,35,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(224,36,67,1) 0%,rgba(143,13,35,1) 100%);
  width:100%
  min-width: 980px
  overflow: auto

header
  width:100%
  height:85px
  background-color: #ED2143
  border-bottom:3px solid #fff
  min-width: 980px

  h1
    color #fff
    margin 0
    padding 5px 0 0 0
    text-align center

  nav
    height:50px
    width: 390px
    margin 0 auto

    ul
      float:right
      display: inline
      text-align: right
      text-decoration: none
      padding 0
      margin: 13px 0 0 0

    li
      display:inline
      color:#FFF
      font-style: normal
      font-size: 18px
      padding-left: 4px
      padding-right: 4px

    li:hover
      color #ddd
      cursor pointer


#wrapper
  width:900px
  height:600px
  margin:30px auto 0px auto
  padding:0px
  border:2px solid #fff
  background-color: #bbb

.castView
  padding 20px

  h1
    color #fff
    text-align center
    margin 0 0 10px 0

  aside.currentCastList
    padding 10px
    width 240px
    height 490px
    background-color #fff
    border 1px solid #000
    float left

  section
    float right
    width 595px
    height 500px

    li
      list-style: none

  .castMember
    padding 0
    padding 7px 0 7px 0
    margin 0
    cursor pointer
    border-bottom 1px solid #eee

  .castMember:hover
    background-color #eee

.events
  padding 20px

  h1
    color #fff
    text-align center
    margin 0 0 10px 0

  aside.currentEventsList
    padding 10px
    width 240px
    height 490px
    background-color #fff
    border 1px solid #000
    float left

  section
    float right
    width 595px
    height 500px

  .singleShow
    padding 0
    padding 7px 0 7px 0
    margin 0
    cursor pointer
    border-bottom 1px solid #eee

  .singleShow:hover
    background-color #eee

// FORM STUFF

form
  padding 0 0 0 20px

  .submit-button
    height 40px
    width 100px
    margin 20px 0 0 0

  textarea
    height 100px
    width 540px
    padding 2px 5px 3px 5px
    outline: none
    border 1px solid #999

  label
    display block
    height 30px
    font-size 18px
    color #444

  input[type="date"]
    margin-bottom 10px

  input[type="text"]
    height 25px
    width 540px
    padding 2px 5px 3px 5px
    margin-bottom 10px
    outline none
    border 1px solid #999

  input[type="text"]:focus, textarea:focus
    border 1px solid #000

  input[type="file"]
    height 25px
    margin-bottom 10px
